.camo-text {
    color: white;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.nav-link:hover {
    color: rgb(92, 92, 255);
}


.center-img {
    display: flex;
    justify-content: center;
    margin-left: 100%;
}
